body {
  position: relative;


font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
font-family: 'Julius Sans One', sans-serif;
}
.navbar {

color: #152635;
}

#About {
  padding-top:50px;
   background-color: rgba(255, 255, 255, 0.582); max-width:90%; margin: 30px auto; padding:30px;
   border-radius: 100px;
   
}
.aboutText, #AboutImg {
padding-top:5%;
} 


